{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/bloggerblogger/css/blog.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block bodycontent %}
    <h1>Blog Application</h1>

    {% block content %}{% endblock %}
{% endblock %}

{% block sidebar %}
    side bar content
{% endblock %}

