{% extends '::base.html.twig' %}

{% block bodycontent %}
    <h1>Blog Application</h1>

    {% block content %}{% endblock %}
{% endblock %}

{% block sidebar %}
    side bar content
{% endblock %}

