{% extends 'bloggerBloggerBundle::layout.html.twig' %}

{% block title %}Contacts{% endblock%}

{% block content %}
    <header>
        <h1>Contacts</h1>
    </header>
    <article>
        <p>address</p>
    </article>
{% endblock %}